[submodule "lib/KiCAD-Sharepoint"]
	path = lib/KiCAD-Sharepoint
	url = https://github.com/lhr-solar/KiCAD-Sharepoint.git
[submodule "hardware/ControlsLeader_PCB/lib/KiCAD-Sharepoint"]
	path = hardware/ControlsLeader_PCB/lib/KiCAD-Sharepoint
	url = https://github.com/lhr-solar/KiCAD-Sharepoint.git
